body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(11, 36, 52, 1);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

.App {
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}
